@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@media (prefers-color-scheme: light) {
  :root {
    --fore: hsl(0, 0%, 22%);
    --back: hsl(0, 0%, 89%);
    --bg-back: radial-gradient(
      100% 50% at 50% bottom,
      hsl(0, 0%, 97%), hsl(0, 1%, 78%)
    );
    --btn-back: hsl(0, 0%, 76%);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --fore: hsl(0, 0%, 91%);
    --back: hsl(0, 5%, 21%);
    --bg-back: radial-gradient(
    100% 75% at 50% bottom,
    hsl(0, 0%, 40%), hsl(0, 0%, 13%)
  );
    --btn-back: hsl(0, 0%, 29%);
  }
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
  width: 100%;
  border: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  font-family: 'Inter';
  background: var(--bg-back);
}

.centered {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

main {
  display: flex;
  align-items: center;
}

main section.brand {
  cursor: default;
}

main section.brand h1 {
  font-family: 'Chakra Petch';
  font-size: 3rem;
  flex-grow: 1;
  color: var(--fore);
  margin-bottom: 1rem;
}

main section.brand div p {
  font-family: 'Inter';
  font-size: 1rem;
  color: var(--fore);
  flex-grow: 1;
}

main section.contact {
  margin-top: 3rem;
}

button {
  background: var(--btn-back);
  background-size: 200% 100%;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
  font-weight: 670;
  line-height: 24px;
  overflow: hidden;
  padding: 12px 24px;
  position: relative;
  text-decoration: none;
  transition: 0.2s;
  color: var(--fore);
}

button svg {
  left: -20px;
  opacity: 0.5;
  position: absolute;
  top: -2px;
  transition: 0.5s cubic-bezier(.5, -0.5, .5, 1.5);
}

button:hover svg {
  opacity: 0.8;
  transform: translateX(50px) scale(1.5);
}

button:hover {
  transform: scale(1.1);
}

button:active {
  transform: scale(0.95) rotate(-3deg);
}

footer{
  display: flex;
  justify-content: space-between;
  font-family: 'Inter', sans-serif;
  align-items: center;
  width: 100%;
  position: fixed;
  bottom: 0;
  font-size: .8rem;
  padding-left: 1rem;
  padding-right: 1rem;
  color: var(--fore);
}

@media screen and (max-width: 600px) {
  footer{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  footer p.linkedin{
    order: 1;
  }
  footer p.aknow{
    order: 2;
  }
  footer p.copy{
    order: 3;
  }
}

footer p{
  margin-block-end: .5rem;
  margin-block-start: .5rem;
}

footer p.copy{
  display: flex;
  align-items: center; 
}

footer p.copy span:first-of-type{
  margin-right: 5px;
  font-size: 1.2rem;
}

footer p a{
  color: var(--fore);
}

footer p.linkedin a{
  font-size: 1rem;
}


.mirror{
  display: inline-block;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.emoji {
  font-family: "Twemoji Mozilla",
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    "Noto Color Emoji",
    "EmojiOne Color",
    "Android Emoji",
    sans-serif;
}